@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;0,900;1,300;1,400&display=swap');
:root {
    --jm-font-sans: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --jm-font-mono: Consolas, monaco, 'Ubuntu Mono', 'Liberation Mono', 'Courier New', Courier, monospace;
    --jm-dark: #1A1A1A;
    --jm-grey: #343a40;
    --jm-white: #FFFFFF;
    --jm-lesswhite: #f8f9fa;
    --jm-lesserwhite: #E5E7EB;
    --jm-blue-1: #0070F3;
    --jm-blue-2: #0d6efd;
    --jm-teal: #20c997;
    --jm-green: #28a745;
    --jm-red: #dc3545;
    /*** Above for general usage, below for style specific ***/
    --jm-background: ;
    --jm-bodytext: ;
    --jm-heading: ;
    --jm-headingfade: ;
    --jw-example: /*Add your own, rename.*/;
}
html {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 106.25%;
}
body {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font: normal 100%/1.5 'Source Sans Pro', sans-serif;
    font-display: auto;
    font-weight: normal;
    font-style: normal;
    background: var(--jm-background);
    color: var(--jm-bodytext);
    word-break: break-word;
    overflow-wrap: break-word;
}

::selection {
    background: var(--jw-example);
    color: var(--jw-example);
}